#root {
  padding: 16px 24px;
}

.ant-spin {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
}

.ant-spin-nested-loading > div > .ant-spin {
  max-height: 100%;
}

.ant-page-header {
  border: 1px solid rgb(235, 237, 240);
  margin-bottom: 20px;
}

.ant-descriptions-row > td {
  font-weight: bold;
}